/*------------------------
        RESET
---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------
        GENERALI
---------------------- */

.standard-width {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


/*------------------------
        HEADER
---------------------- */

header {
  background-color: #add8e6;
}

.header-top {
  padding: 15px;
}

.header-top > .container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #daa520;
}

.header-top .logo {
  width: 20%;
  border: dashed 1px black;
  padding: 6px;
}

.header-top .link {
  width: 60%;
  text-align: center;
  border: dashed 1px black;
  padding: 6px;
}

.header-top .login {
  width: 20%;
  text-align: right;
  border: dashed 1px black;
  padding: 6px;
}

.header-bottom {
  background-color: #00008b;
  display: flex;
  padding: 50px 0;
}

.header-bottom > .container {
  min-width: 910px;
  min-height: 400px;
  border: dashed 2px black;
  background-color: #ee82ee;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------
        MAIN
---------------------- */

.col-big{
    background-color: #1e90ff;
    width: 60%;
    min-height: 500px;
    border: dashed 2px black;
    margin: 50px 0;
}

.col-small{
    background-color: #ffc0cb;
    width: 40%;
    min-height: 500px;
    border: dashed 2px black;
    margin: 50px 0;
}

.container-big-small{
    background-color: #d3d3d3;
}

.standard-width > .container {
    background-color: #228b22;
    min-height: 900px;
    width: 100%;
    border: dashed 2px black;
    margin: 50px 0;
}

/*------------------------
        FOOTER
---------------------- */

footer {
    background-color: #23272a;
}

.col-red{
    width: 40%;
    min-height: 580px;
    background-color: #f08080;
    border: dashed 2px black;
    margin: 15px 0 45px 0;
}

.col-aqua{
    width: 15%;
    min-height: 580px;
    background-color: #20b2aa;
    border: dashed 2px white;
    margin: 15px 0 45px 0;
}

.footer-credits{
    background-color: #7fffd4;
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 30px;
}

.logo2, .bottone{
    border: dashed 2px black;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
